@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #FFF;
    font: 16px/28px 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    background-color: #000;
}
a {
    color: inherit;
    text-decoration: none;
    transition: .4s;
}
ul li {
    list-style: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}
button {
    display: block;
    border: none;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
    transition: .4s;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.title-section{
    margin-bottom: 40px;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.6px;
    text-align: center;
}

.btn-primary{
    padding: 12px 24px;
    font-weight: 600;
    background-color: #EE8313;
}

.btn-primary:hover{
    background-color:#ef5e10 ;
}

.btn-secondary{
    padding: 12px 24px;
    font-weight: 600;
    color: #EE8313;
    border:1px solid #EE8313;
    line-height: 24px;
}

#header-section{
    padding: 40px 0 107px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.title-section {
    margin-bottom: 40px;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.6px;
    text-align: center;
}
.header-logo_img,.footer_about-img{
    width: 48px;
    height: 48px;
}
.nav-main{
    margin-left: auto;
}

.nav-main_list{
    display: flex;
    gap: 48px;
    margin-right: 72px;
}
.nav-main_link:hover{
    color: #EE8313 ;
}

#banner-section{
    padding-bottom: 60px ;
    position: relative;
    overflow: hidden;
}

.banner{
    max-width: 475px;
    padding-top: 45px;
}

.banner_header{
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.6px;
}

.banner_text{
    margin: 32px 0 48px;
    font-size: 17px;
    color: rgb(255 255 255 / 80%);
}

.banner-links-wrap{
    display: flex;
    align-items:center;
    gap: 35px;
    margin-bottom: 40px;
}
.banner-features_text{
    font-weight: 600;
    line-height: 24px;
}
.banner-features_text:first-child{
    margin-right: 40px;
}
.banner-features_text_strong{
    margin-right: 16px;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    vertical-align: sub;
}

.banner-img{
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    right: -25px;
}

.banner-img::before{
    position: absolute;
    content: '';
    z-index: 2;
    width: 96%;
    height: 100%;
    top: 0;
    right: 0;
    background: url(img/ford-mustang.svg) no-repeat;
}

.banner-img::after{
    position: absolute;
    content: '';
    z-index: 1;
    width: 75%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgb(52 52 52 /30%);
}

#rent-section{
    padding: 120px 0;
}

.rent-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.rent{
    position: relative;
    height: 524px;
    background: url(img/1.svg) 50%/cover no-repeat;
    font-weight: 600;
}

.rent:nth-child(2){
    background-image: url(img/2.svg);
}

.rent:nth-child(3){
    background-image: url(img/3.svg);
}

.rent:nth-child(4){
    background-image: url(img/4.svg);
}

.rent_name{
    position: absolute;
    top: 48px;
    left: 48px;
    font-size: 40px;
    letter-spacing: 0.6px;
}

.rent-link{
    position: absolute;
    bottom: 48px;
    right: 60px;
    padding-right: 30px;
    font-size: 24px;
    letter-spacing: 0.6px;
}

.rent-link:hover{
    color: #FFCC2C;
}

.rent-link::after{
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    width: 8px;
    height: 16px;
    background: url(img/line.svg) 50%/ cover no-repeat;
    transform: translateY(-50%);
}

#services-section{
    padding-bottom: 120px;
}

.services-section_title{
    margin-bottom: 66px;
    text-align: left;
}

.services-wrap{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}

.services_img{
    margin-bottom: 24px;
}

.services_title{
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
}

.services_text{
    line-height: 28px;
    color: rgb(255 255 255 / 80%);
}

#destination-section{
    padding-bottom: 162px;

}

.destination-section_title{
    width: 590px;
    margin: 0 auto 40px ;
}
.destination-wrap{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}

.destination{
    background-color: #171717;
    border: 1px solid #171717;
}

.destination-info{
    padding: 24px;
}

.destination_title{
    font-size: 24px;
    line-height: 32px;
}

.destination_text{
    margin: 10px 0 25px;
    color: rgb(255 255 255 / 80%);
}

.destination_price{
    font-weight: 600;
    margin-bottom: 17px;
    display: block;
    position: relative;
    padding-left:42px ;
}

.destination_price::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 30px;
    height: 30px;
    background: url(img/Front\ Car.svg) no-repeat;
    transform: translateY(-50%);
}

.destination_link{
    color: #EE8313;
}

.destination_link:hover{
    color: #ef5e10;
}

.location-section{
    padding-bottom: 102px;
}

#footer-section{
    padding-top: 40px;
    background-color: #1f1905;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
}

.footer-logo-wrap{
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 64px;
    font-weight: 600px;
}

.footer_about-text{
    font-size: 18px;
    line-height: 32px;
    max-width: 235px;
}

.footer-nav-wrap{
    display: flex;
    justify-content: space-between;
    gap: 45px;
    margin: 40px 100px 0 auto;
}

.footer-nav_header{
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 20px;
}

.footer-nav_item{
    margin-bottom: 28px;
    line-height: 20px;
}

.footer-nav_link{
    color: rgb(255 255 255 / 80%);
}

.footer-nav_link:hover{
    color: #EE8313;
}
.footer-social{
    margin-top: 32px;
}
.footer-social_link{
    display: block;
    width: 120px;
    line-height: 30px;
    margin-bottom: 45px;
    background: url(img/face.svg) 50%/cover no-repeat;
}

.footer-social_link:nth-child(2){
    background-image: url(img/yout.svg);
}

.footer-social_link:nth-child(3){
    background-image: url(img/inst.svg);
    margin-bottom: 0;
}

.footer-copy{
    background-color: #EE8313;
    padding: 20px 0px;
}

.footer-copy_text{
    text-align: center;

}